<%= form_with(model: @blog_post, local: true) do |form| %>
	<% if @blog_post.errors.any? %>
		<h2><%= pluralize(@blog_post.errors.count, "error")%> prohibited this Blog Post from being saved:
		</h2>

		<ul>
			<% @blog_post.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

	<div class="form-group">
		<%= form.text_field :title, class: "form-control", placeholder: "Blog Title..." %>
	</div>	

	<div class="form-group">
		<%= form.text_area :blog_entry, class: "form-control", rows:12, placeholder: "Tell us something..."%>
	</div>

	<div class="actions">
		<%= form.submit "Post", class: "btn btn-primary" %>
	</div>

<% end %>