<h1>Current Blog Posts</h1>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
    <% @blog_post.each do |blog_post| %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= blog_post.title %>
            </div>
            <div class="panel-body">
                by <%= blog_post.author %><br>
                <p><i><%= blog_post.created_at.strftime("%m/%d/%y at %I:%M%p") %></i></p>
                <p><%= truncate(blog_post.blog_entry, length: 150) { link_to "Read More", blog_post_path(id: blog_post.id)} %>
                </p>
            </div>
            <div class="panel-footer">
                <%= link_to "Show", blog_post_path(id: blog_post.id), class: "btn btn-info" %>
                <%= link_to "Edit", edit_blog_post_path(id: blog_post.id), class: "btn btn-warning" %>
                <%= link_to "Destroy", blog_post_path(id: blog_post.id), method: :delete, data: { confirm: "Are You Sure?"}, class: "btn btn-danger" %>
            </div>
        </div>
    <% end %>
<%= link_to "New Blog Post", new_blog_post_path, class: "btn btn-success" %>

